*{
    padding: 0;
    margin: 0;
}
#bg{
    width: 100%;
    background-color: aliceblue;
}
#Cv{
    width: 100%;
    background-color: aliceblue;
}
#Gong{
    width: 100%;
    background-color: aliceblue;
}